a.pi-link-btn {
    text-decoration: none;
    color: black;
}

div.pi-code-ed {
    position: relative;
    top: 10px;
    min-height: 400px;
    z-index: 100;
}

div.pi-code-ed-result {
    position: relative;
    top: 20px;
}
